CREATE DATABASE DigitalNews
USE [DigitalNews]
GO
/****** Object:  Table [dbo].[Article]    Script Date: 12/24/2020 17:15:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Article](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](max) NULL,
	[content] [nvarchar](max) NULL,
	[description] [nvarchar](max) NULL,
	[image] [nvarchar](max) NULL,
	[time] [datetime] NULL,
	[author] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Article] ON 

SET IDENTITY_INSERT [dbo].[Article] OFF

SELECT TOP 5 * FROM dbo.Article
ORDER BY [time] DESC

SELECT * FROM dbo.Article WHERE id = 1

SELECT COUNT(*) AS Total FROM dbo.Article 
WHERE title LIKE '%' OR content LIKE '%'

WITH t AS(
SELECT ROW_NUMBER() OVER (ORDER BY [time] DESC) rownum, * FROM dbo.Article
WHERE title LIKE '%' OR content LIKE '%'
)
SELECT * FROM t
WHERE t.rownum >= 